.navbar-container {
  background-color: #3367d6;
  padding: 20px;
  display: flex;
  flex-direction: row;
}
.search-input-container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-left: 60px;
  margin-right: 100px;
}
.input-background {
  color: #64748b;
  background-color: #2850a7;
  font-size: 20px;
  padding: 5px;
  width: 100%;
}
.search {
  color: #ececec;
  background-color: #2850a7;
  font-size: 20px;
  padding: 5px;
  margin-right: 10px;
}
.unorder-list {
  box-shadow: 10px 10px 5px 5px #f8fafc;
  padding: 10px;
  border-radius: 10px;
  margin: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.no-history {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #64748b;
  font-weight: bold;
  font-size: large;
  background-size: cover;
  height: 70%;
}
